body{
  margins:auto;
  width: 80%;
}

header, section, article, nav, aside, footer, div {
 font-family: sans-serif;
 border: 1px solid #000;
 padding: 10px;
 margin: 10px;
}

#PageHeader{
  display: flex;
  justify-content: space-between;
}


#PageFooter{
  text-align: center;
}
