<html>

  <head>

    <%- include ../partials/head %>

  </head>

  <body onload="yes()">

    <header>

      <%- include ../partials/header %

    </header>
    
    <main>

      <div id = "searchResults">

      </div>

    </main>

    <footer>
      <%- include ../partials/footer %>
    </footer>

  </body>

</html>
